.common{
    border: 2px solid black;
    position: absolute;
}

.header{
    top: 5px;
    left: 200px;
    right: 200px;
    height: 100px;
    text-align: center;
    background-color: rgb(3, 63, 3);
}

.right{
    top: 5px;
    right: 5px;
    bottom: 200px;
    width: 180px;
    text-align: center;
    background-color: rgb(219, 201, 177);
}

.left{
    top: 5px;
    left: 5px;
    bottom: 200px;
    width: 180px;
    background-color: rgb(219, 201, 177);
}

.body{
    top: 115px;
    left: 200px;
    right: 200px;
    bottom: 200px;
    height: fit-content;
    background-color: rgb(219, 201, 177);
    padding-left: 10px;
    padding-right: 10px;
}

.footer{
    bottom: 5px;
    left: 5px;
    width: 100px;
    position: fixed;
    z-index: 1;
}

h2{
    color: rgb(1, 1, 75);
    font-family: sans-serif;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table1{
    scale: 0.6;
}

.nav-bar {
            background-color: #ff6347; /* Tomato Red accent for visibility */
            padding: 10px 0;
            text-align: center;
            /* Sticky position makes it stay at the top when scrolling (optional) */
            /* position: sticky;
            top: 0;
            z-index: 1000; */
        }

        .nav-bar a {
            color: #001f3f; /* Deep Navy Blue text */
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.9em;
            margin: 0 20px;
            padding: 5px 10px;
            border-radius: 3px;
            transition: background-color 0.3s, color 0.3s;
        }

        .nav-bar a:hover {
            background-color: #001f3f; /* Deep Navy Blue background on hover */
            color: #ffffff; /* White text on hover */
        }
        